section{
    margin: 20px 180px;
}
section> a{
    margin: 10px auto;
    padding: 5px;
    height: auto;
    width: auto;
    color: #cccccc;
}

footer{
    clear: left;
}
h2{
    color: #931100;
    font-weight: lighter;
    text-align: center;


}